<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="Data Source=LAPTOP-8VDHLM0D\SQL_DEVELOPER;Initial Catalog=ParataSampleSource;Integrated Security=True; User Id=sa; password=abc@123A;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DistributionFile" value="C:\repo\parata\sql-replication\_\sql-replication\SqlReplication\scripts\ConfigureDistribution.sql" />
		<add key="PublicationFile" value="C:\repo\parata\sql-replication\_\sql-replication\SqlReplication\scripts\CreatePublication.sql" />
		<add key="SubscriptionFile" value="C:\repo\parata\sql-replication\_\sql-replication\SqlReplication\scripts\NewSubscription.sql" />
	</appSettings>
</configuration>