<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=LAPTOP-8VDHLM0D\SQL_DEVELOPER;Initial Catalog=distribution;Integrated Security=True; User Id=sa; password=abc@123A;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>