<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=NOANLAPTOP\NOAN2017;Initial Catalog=UPWORK;Integrated Security=True; User Id=sa; password=Ucbh2017;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DistributionFile" value="D:\Trabajos\RobertGreen\sql-replication\ConfigureDistribution.sql" />
    <add key="PublicationFile" value="D:\Trabajos\RobertGreen\sql-replication\CreatePublication.sql" />
    <add key="SubscriptionFile" value="D:\Trabajos\RobertGreen\sql-replication\NewSubscription.sql" />
  </appSettings>
</configuration>